# ============================
# OS / macOS Specific
# ============================
.DS_Store

# ============================
# IDE / Editor settings
# ============================
.vscode/
.vs/
.idea*/

# ============================
# Logs
# ============================
*.log